<%- include("partials/header") %> 

<div>
    <h1><%= post.title  %> </h1>
    <p><%= post.content %> </p>
    <p class = "text-info"><em><%= post.currentTime %></em> </h3>
</div>

<%- include("partials/footer") %> 